.DS_Store
*.apk
*.ap_
*.dex
*.class
ajcore*
.classpath
.project
*.iws
*.iml
.externalNativeBuild
.cxx
.prev

/build
bin/
gen/
reports/
coreiris/
app/schemas/
/projectFilesBackup
.idea/*
captures/*
.gradle
Libraries/*/build/

local.properties
/local.properties
app/src/.idea/workspace.xml
crashlytics-build.properties
com_crashlytics_export_strings.xml
rebel-remote.xml
rebel.xml